@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helvetica";
  src: url("../assets/fonts/Helvetica.ttf") format(".ttf");
  font-weight: 400;
  font-style: normal;
}

*,body{
  font-family: 'General Sans', sans-serif;
  overflow-x:hidden
}
::-webkit-scrollbar {
  display: none;
  
}

@layer base {
  main {
    @apply px-4 py-8 md:px-6 lg:px-20 md:py-10 max-w-[1440px] mx-auto;
  }
  h1 {
    @apply text-2xl;
  }
}

@layer components {
  .nav__btn {
    @apply bg-primary text-secondary px-6 py-4 rounded-[50px] text-sm;
  }
}

